@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #FFF;
}

@media screen and (min-width:992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.content h1 {
    margin: 0;

}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6C79DB;
    border: none;
    border-radius: 1rem;
    color: #FFF;
    padding: .25rem .5rem;
    font-size: 1rem;
    margin: .25rem .5rem;

}

#pokeInfo {
    text-align: center;
    max-width: 350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    border-style: solid;
    opacity: 0;
    background-color: #FFF;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}

#pokeInfo .pokeInfoType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;;
    list-style: none;
    padding: 0.5rem;
}

#pokeInfo .type {
    width: 75px;
    color: #FFF;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

#pokeInfo img {
    width: 100px;
    height: auto;
}

#pokeInfo .pokeInfoStats {
    list-style: none;
    padding: 0;
}